Source: casa-casacore
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0), cmake, flex,
 bison, libblas-dev, liblapack-dev, libcfitsio3-dev,
 wcslib-dev, libfftw3-dev, gfortran, libgsl0-dev,
 libreadline6-dev|libreadline-gplv2-dev,
 casacore-data, quilt
Standards-Version: 3.9.2
Section: libs
Homepage: http://code.google.com/p/casacore/

Package: libcasa-casacore-dev
Section: libdevel
Architecture: any
Depends: libcasa-casacore1 (= ${binary:Version})
Conflicts: libcasacore-dev
Description: A set of libraries derived from aips++
 This project contains c++ libraries which were the
 code of the discontinued aips++ package.

Package: casa-casacore
Section: libdevel
Architecture: any
Depends: libcasa-casacore1 (= ${binary:Version})
Conflicts: casacore
Description: A set of libraries derived from aips++
 This project contains c++ libraries which were the
 code of the discontinued aips++ package.

Package: libcasa-casacore1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libcasacore1
Description: A set of libraries derived from aips++
 This project contains c++ libraries which were the
 code of the discontinued aips++ package.
