Source: casacore
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0), cmake, flex,
 bison, libblas-dev, liblapack-dev, libcfitsio3-dev (>= 3.181),
 wcslib-dev (>= 4.20), libfftw3-dev, gfortran, libncurses5-dev,
 libreadline6-dev | libreadline-gplv2-dev,
 casacore-data, libhdf5-dev | libhdf5-mpi-dev |
 libhdf5-mpich2-dev | libhdf5-openmpi-dev |
 libhdf5-serial-dev, python-numpy, libboost-python-dev
Standards-Version: 3.9.2
Section: libs
Homepage: http://code.google.com/p/casacore/

Package: libcasacore2-dev
Section: libdevel
Architecture: any
Depends: libcasacore2 (= ${binary:Version}), wcslib-dev
Conflicts: libcasacore-dev
Description: A set of libraries derived from aips++
 This project contains c++ libraries which were the
 code of the discontinued aips++ package.

Package: casacore2
Section: libdevel
Architecture: any
Depends: libcasacore2 (= ${binary:Version})
Conflicts: casacore
Description: A set of libraries derived from aips++
 This project contains c++ libraries which were the
 code of the discontinued aips++ package.

Package: libcasacore2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A set of libraries derived from aips++
 This project contains c++ libraries which were the
 code of the discontinued aips++ package.
