#!/usr/bin/make -f
#-*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


CMAKE_FLAGS = \
	-DUSE_FFTW3=ON \
	-DBUILD_TESTING=OFF \
	-DDATA_DIR=/usr/share/casacore/data \
	-DUSE_OPENMP=ON \
    -DUSE_HDF5=ON \
	-DBUILD_PYTHON=ON

%:
	dh $@ --buildsystem=cmake --parallel --builddirectory=build

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)
	ln -s .. build/casacore

override_dh_clean:
	rm -rf doc/
	dh_clean

override_dh_strip:
		dh_strip --dbg-package=libcasacore2-dbg
